body {
    background-color: lightsteelblue;
}
b {
    color: black;
}

#banner {
    width: 40%
}

#logo{
    width: 300px;
}
.caixa{
    position: relative;
    width: 960px;
    margin: 10px auto;
}